<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <menuitem 
      id="Menu_principal"
      name="Materiales"
      groups="materiales.materiales_admin_id"
      sequence="99"
    />
    <menuitem 
      name="Productos"
      id="Materiales_productos"
      parent="Menu_principal"
      action="productos_action"
      sequence="10"
    />
    <menuitem 
      name="Departamentos"
      id="Materiales_departamentos"
      parent="Menu_principal"
      action="departamentos_action"
      sequence="11"
    />
    <menuitem 
      name="Movimientos"
      id="Materiales_movimientos"
      parent="Menu_principal"
      action="movimientos_action"
      sequence="12"
    />
    <menuitem 
      name="Inventario"
      id="Materiales_inventario"
      parent="Menu_principal"
      action="inventario_action"
      sequence="13"
    />

  </data>
</odoo>

<!-- groups="materiales.materiales_admin_id" -->
<!-- parent="base.menu_apps" -->