<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <menuitem 
      id="Menu_principal"
      name="Materiales"
      groups="materiales.materiales_admin_id"
      sequence="99"
    />
    <menuitem 
      name="Compras"
      id="Materiales_compras"
      parent="Menu_principal"
      action="compras_action"
      sequence="11"
    />

    <menuitem 
      name="Departamentos"
      id="Materiales_departamentos"
      parent="Menu_principal"
      action="departamentos_action"
      sequence="13"
    />

    <menuitem 
      name="Inventarios"
      id="Materiales_inventarios"
      parent="Menu_principal"
      action="inventarios_action"
      sequence="16"
    />

    <menuitem 
      name="Movimientos"
      id="Materiales_movimientos"
      parent="Menu_principal"
      action="movimientos_action"
      sequence="15"
    />

    <menuitem 
      name="Productos"
      id="Materiales_productos"
      parent="Menu_principal"
      action="productos_action"
      sequence="10"
    />

    <menuitem 
      name="Proveedores"
      id="Materiales_proveedores"
      parent="Menu_principal"
      action="proveedores_action"
      sequence="12"
    />
    
    <menuitem 
      name="Ubicaciones"
      id="Materiales_ubicaciones"
      parent="Menu_principal"
      action="ubicaciones_action"
      sequence="14"
    />

  </data>
</odoo>

<!-- groups="materiales.materiales_admin_id" -->
<!-- parent="base.menu_apps" -->